.navbar {
    height: 7vh;
    width: 100%;
    background-color: #011027;
    color: white;
    position: relative;
    z-index: 999;
}

#vball__logo {
    height: 75px;
    width: 75px;
    position: absolute;
    top: -0.5vh;
    left: 5vh;
}

.nav__links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 35%;
    margin: auto;
}

#nav__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    text-decoration: none;
    color: white;
    height: 70%;
    width: 90%;
    border-radius: 5px;
}

#nav__link:hover {
    background-color: #19E7B0;
}