.home__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 80vh;
    width: 60%;
    margin: auto;
}

.initial__intro {
    margin: 0 0 1rem 0.5rem;
}

#highlight {
    background-color: #19E7B0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro__description {
    display: flex;
    flex-direction: column;
}

#mern__img {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 15vh;
    height: 150px;
}

.social__media {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5vh;
}

.social__links {
    height: 50px;
    width: 50px;
    margin: 1rem;
}

@media (max-width: 1500px) {
    .home__container {
        width: 80%;
    }
}

@media (max-width: 800px){
    #mern__img {
        display: none;
    }
}