.project__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* height: 80vh; */
    width: 60%;
    margin: auto;
    position: relative;
    top: 6vh;
    padding-bottom: 2rem;
}

#project__intro {
    margin: 0;
}

#project__link {
    text-decoration: none;
    color: #19E7B0;
    margin-left: 0.5rem;
}
 
.project__title {
    padding: 0 0 1rem 1rem;
    border-left: solid 1px black;
    border-bottom: solid 3px black;
}

.project__information {
    margin: 2rem 0;
}

.project__problem {
    margin-bottom: 1rem;
}
@media (max-width: 1500px){
    .project__container {
        width: 80%;
    }
    #project__intro {
        font-size: 50px;
    }
}

@media (max-width: 500px){
    #project__intro {
        font-size: 25px;
    }
}