* {
  box-sizing: border-box;
  font-family: Space Mono, monospace;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./Images/aura.gif');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-color: #02183A; */
  background-attachment: fixed;
  color: white;
}

p {
  margin-bottom: 1rem;
}

h1 {
    background-image: linear-gradient(to top, #fff 0%, #19E7B0 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

li {
  margin-left: 1rem;
}

/*  */
.nav__container {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #02183A;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
  position: fixed;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.nav__container a {
  padding: 0 1rem;
  text-decoration: none;
}

/* Introduction */
.intro__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
  /* background-color: rgba(60, 64, 67, 0.3); */
}

.intro__text h1 {
  background-image: linear-gradient(to top, #fff 0%, #19E7B0 100%);
  cursor: pointer;
  text-decoration: none;
  box-shadow: #19E7B0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#highlight__intro {
  color: #19e7b0;
}

/* About */
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

/* Projects */
.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 90vh;
  width: 100%;
}

.projects__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

#ms__banner {
  margin: 1rem 0;
  width: 70%;
}

/* Resume */

#resume {
  position: fixed;
  top:0;
  left: 0;
}