* {
  box-sizing: border-box;
  font-family: Space Mono, monospace;
  color: white;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./Images/aura.gif');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  /* background-color: #02183A; */
  background-attachment: fixed;
  color: white;
}

p {
  margin-bottom: 1rem;
}

h1 {
    background-image: linear-gradient(to top, #fff 0%, #19E7B0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* -moz-background-clip: text; */
    /* -moz-text-fill-color: transparent; */
    font-size: 75px;
}

li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
  color: #19e7b0;
}

hr {
  width: 100%;
  margin: 0.5rem 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
}

/* Not Found */
#not__found {
  width: 100%;
  height: 100vh;
  background-image: url('./Images/404.png');
  background-repeat: no-repeat;
  background-position: center;
}


/* Nav */
.nav__container {
  display: flex;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: #02183A;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  color: white;
  position: fixed;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

img#nav_logo {
  position: absolute;
  left: 109px;
  top: 6px;
  width: 36px;
}

.nav__container a {
  padding: 0 1rem;
  margin: 0 2rem;
  text-decoration: none;
  color: white;
}

.nav__container a:hover {
  height: 60%;
  color: #19e7b0;
  border-bottom: solid 2px#19E7B0;
}

#drop__contents {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 5px;
  top: 50px;
  background-color: #02183A;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

#drop__contents a {
  margin: 1rem;
}

#drop__contents a:hover {
  height: 60%;
  color: #19e7b0;
  border-bottom: solid 2px#19E7B0;
}

.drop__container {
  display:none;
}

#hamburger {
  display: none;
  width: 40px;
  position: absolute;
  right: 109px;
  top: 6px;
}

@media (max-width:750px) {
  .nav__links {
    display: none;
  }

  #drop__contents {
    display: flex;
  }

  #hamburger {
    display: block;
  }
}

/* Introduction */
.intro__container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.intro__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
}

#img__homepage {
  width: 20%;
  margin: 2rem;
  border-radius: 200px;
}

@media (max-width: 1300px) {
  .intro__text {
    width: 70%;
  }

  #img__homepage {
    display: none;
  }
}



/* About */
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.about__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}

@media (max-width:750px) {
  .about__text {
    width: 70%;
  }
}

/* Projects */
.projects__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 115vh;
  width: 100%;
}

.projects__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
}

#visit__project {
  display: flex;
  justify-content: space-around;
  width: 40%;
  height: 100%;
}

#visit__project a:hover {
  color: white;
  text-decoration: underline;
}

#ms__banner {
  margin: 1rem 0;
  width: 70%;
}

.projects__text li {
  margin-bottom: 1rem;
}

@media (max-width: 750px) {
  .projects__text {
    width: 90%;
  }
}

/* Resume */
.resume__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 0 2rem;
  height: 90vh;
  width: 35%;
  background-color: black;
  position: relative;
  top: 5rem;
}

.resume__container p {
  margin: 0;
  font-size: small;
}

.resume__container li {
  font-size: small;
}

#resume__name {
  font-size: xx-large;
}

.skillset__container {
  display: flex;
}

.skillset__container p {
  margin: 0;
}

#project__text {
  margin-bottom: 0.5rem;
}

.work__container {
  width: 100%;
}

div#job {
  display: flex;
  justify-content: space-between;
}

div#job p {
  margin: 0
}

.certificate__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cert {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.education__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#edu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

@media (max-width: 750px) {
  .resume__container {
    width: 90%;
    height: 120vh;
    z-index: -1;
  }
}