@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@700&family=Space+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Kumbh Sans', sans-serif;
  font-family: 'Space Mono', monospace;
}

body {
  background: #02183A;
  height: 100vh;
  width: 100%;
}

.intro {
  font-size: 75px;
  margin-bottom: 1rem;
}

#offwhite {
  color: rgb(211, 211, 211);
}